header.masthead {
    background-image: url("../img/JungleMidReduced.png");
}
header.masthead .intro-text {
    padding-top: 600px;
    padding-bottom: 100px;
    color: #fec503;
}

.width100percent{
    width: 100%;
}

.intro-heading{
    font-family: 'Cantarell', sans-serif;
}

#aboutcontent{
    padding-top: 40px;
}


.list-inline-item {
    text-align: center;
}

.fab .fa-dribbble {
    color: white;
}


.paddingTop100{
  padding-top: 100px;
}

.paddingBottom100{
  padding-bottom: 100px;
}  

#surveyFeedback{
  text-align: center;
}

.paddingTop75{
  padding-top: 75px;
}

.col-lg-12 .text-center {
  padding-bottom: 20px;
}

h3{
  font-weight: 400;
}

h2{
  font-weight: 550;
}

#fontWeight400{
  font-weight: 400;
  font-size: 50px;
}


#phillip{
  font-weight: bold;
}

.paddingTop40{
  padding-top: 40px;
}

.paddingTop30{
  padding-top: 30px;
}


.footerBackground{
  background-color: #212529;
}

.highlightContact{
  color: coral;
}

ul.social-buttons li a {
  background-color: coral;
}

.footer-copyright{
  color: coral;
}

.footer{
  padding: 15px;
}

.paddingSides100{
  padding-left: 100px;
  padding-right: 100px;
}

.paddingBottom30{
  padding-bottom: 30px;
}

.paddingBottom20{
  padding-bottom: 20px;
}

.paddingBottom10{
  padding-bottom: 10px;
}

.paddingBottom75{
  padding-bottom: 75px;
}

.paddingTop20{
  padding-top: 20px;
}

.paddingBottom50{
  padding-bottom: 50px;
}

.paddingBottom40{
  padding-bottom: 40px;
}

.paddingTop50{
  padding-top: 50px;
}

.paddingTop60{
  padding-top: 60px;
}

.paddingTop5{
  padding-top: 5px;
}

.modal-content .fullWidth {
  padding-left: 0px;
  padding-right: 0px;
}

/* .giphy-embed {
  max-width: 80%;
} */

.gif-strip{
  background-color: whitesmoke;
}

.BoldOrange{
  font-weight: bold;
  color: #D7690A;
}

.BoldBlack{
  font-weight: bold;
  color: black;
}

.ppbox{
  background-color:#FFE2E2;
  border-color: #DC2A27;
  width: 11rem;
  height: 12rem;
  color: black;
}

.techbox{
  border: none;
}

#siteButton{
  font-size: 2.75em;
  background-color: #03ADC4;
  border-color: #03ADC4;
}

#HEB-Research, #HEB-Analysis, #HEB-Design, #HEB-Development{
  padding-bottom: 20px;
}

#HEB-Overview{
  padding-top: 0px;
  padding-bottom: 0px;
}

#SAA-Research, #SAA-Analysis, #SAA-Design{
  padding-bottom: 0px;
}

#TJ-Research, #TJ-Analysis, #TJ-Design{
  padding-bottom: 0px;
}

#TJ-Overview{
  padding-top: 0px;
  padding-bottom: 0px;
}

#TJ-Research, #TJ-Analysis{
  padding-top:100px;
}

#SAA-Overview{
  padding-top: 0px;
  padding-bottom: 0px;
}

.portfolio-modal .modal-content {
  padding: 20px;
}

#mainNav li {


  margin: 4.5vh;


  margin-left: auto;
  margin-right:auto;


}



@media (max-width: 500px) {

  iframe {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hebheaderfix {
    text-indent:-0.6em;
    margin-left:0em; 
    
  }

}

@media (max-width: 991px) {

  #mainNav li {
    font-size: 1.25em;
  }

}


@media (min-width: 992px) {
    #mainNav {
      padding-top: 0px;
      padding-bottom: 0px;
      /* transition: padding-top 0.3s, padding-bottom 0.3s; */
      border: none;
      background-color: #212529;
    }
    #mainNav .navbar-brand {
      font-size: 1.25em;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }

    #mainNav li {
      margin: 0;
    }
}


