body {
    background-color: black;
    margin-left: 50px;
    font-family: "Roboto", medium;
  }


  img{
    padding-top: 30px;
    padding-right: 30px;
  }
  h1, p, ul {
    color: #C07A41;
    padding-right: 40px;
  }
  h1{
    font-size: 50px;
  }
  .intro{
    font-size: 35px;
    padding-bottom: 20px;
  }
  .facts{
    font-size: 30px;
    font-weight: bold;
  }
  .factsList{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .contact{
    font-size: 20px;
  }
  .socialMedia{
    font-size: 20px;
  }